@model ConDep.frontend.Models.OverviewModel

@{
    ViewBag.Title = "Overview";
}

<h2>Overview</h2>

<p>
    @Html.ActionLink("Nieuwe XAML toevoegen", "Upload")
</p>
<table class="table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
@foreach (var item in Model.Workflows)
{
    <tr>
        <td>
            @item.Filename
        </td>
        <td>
            @Html.ActionLink("Start", "Start", new { Id = item.Id })
        </td>
    </tr>
}

</table>
